@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open sans';
 

}

header{

    background-color: thistle;
    text-align: center;
    padding: 25px 0;
}

nav a{
    display: inline-block;
    text-decoration: none;
    color: black;
    margin: 0 30px;
    padding: 5px 15px;
    border-radius: 30px;
}

nav a:hover{
background-color: lavenderblush;
color: olivedrab;
}

/** Aqui va la imagen del encabezado**/
.encabezado {

    background-image: url(imagenes/imagen1.gif);
    height: 600px;
    background-size: cover ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: blueviolet;

}
.encabezado p{
font-size: 20px;
}
 
.encabezado h1{

    font-size:  50px;
    padding:  20px 0;
}


/** Footer **/
footer{
    width: 100%;
    height: 60px;
    margin-top: 100px;
    background: #000;
}
footer p{
    text-align: center;
    line-height: 60px;
    color:#fff;
}
 /** logo **/

 .logo img{
    width: 75px;
    height: 75px;
 }