/* Estilos globales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-image: url("../imagenes/WallpaperLoginTwoPeople.jpg");
  background-size: cover; /* Hace que la imagen cubra todo el fondo */
  background-position: center; /* Centra la imagen de fondo */
  background-attachment: fixed; /* Fija la imagen para que no se desplace con el contenido */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Encabezado fijo */
header {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #4f8f3b;
  text-align: center;
  padding: 15px 0;
  z-index: 100;
}

nav a {
  display: inline-block;
  text-decoration: none;
  color: white;
  margin: 0 20px;
  padding: 5px 15px;
  border-radius: 30px;
}

nav a:hover {
  background-color: #72aa3d;
  color: #ffffff;
  transform: scale(1.1);
  transition: transform 0.3s ease, background-color 0.3s ease;
}

/* Contenedor principal para centrar el formulario */
.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  padding-top: 80px; /* Espacio para el header */
  padding-bottom: 80px; /* Espacio para el footer */
}

/* Caja de login */
.login-box {
  width: 320px;
  background: rgba(255, 255, 255, 0.9); /* Fondo blanco semitransparente */
  color: #4f8f3b;
  position: relative;
  padding: 50px 30px 30px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.login-box .avatar {
  width: 90px;
  height: 90px;
  opacity: 0.8;
  position: absolute;
  top: -40px;
  left: calc(50% - 40px);
  border-radius: 50%;
  background-color: #4f8f3b;
  padding: 10px;
}

.login-box h1 {
  font-size: 24px;
  color: #4f8f3b;
  margin-bottom: 20px;
}

.login-box label {
  font-weight: bold;
  color: #4f8f3b;
  display: block;
  margin: 10px 0 5px;
}

.login-box input[type="text"],
.login-box input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #4f8f3b;
  border-radius: 5px;
  outline: none;
}

.login-box input[type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  background: #4f8f3b;
  color: white;
  font-size: 18px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-box input[type="submit"]:hover {
  background: #72aa3d;
}

.login-box a {
  color: #4f8f3b;
  font-size: 14px;
  text-decoration: none;
}

.login-box a:hover {
  color: #72aa3d;
  font-size: 15px;
}

/* Footer fijo */
footer {
  background: #4f8f3b;
  color: white;
  text-align: center;
  padding: 15px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
